// Heading sizes
$ub-type-size-h1: 4.236rem;
$ub-type-size-h2: 2.618rem;
$ub-type-size-h3: 1.618rem;
$ub-type-size-h4: 1rem;
$ub-type-size-h5: 0.618rem;
$ub-type-size-h6: 0.382rem;
// Text sizes
$ub-type-size-normal: 1rem;
$ub-type-size-small: 0.618rem;