.block-hero-2 {
  h1.title {
    letter-spacing: 0.125em;
    line-height: 1.35;
    text-transform: uppercase;
    font-weight: 300 !important;
    max-width: 680px;
    margin: 0 auto;

    strong { font-weight: bold; }

  }
}
